@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark; */
  color: rgba(255, 255, 255, 0.87);
  /* background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --header-bg-light: #f5f5f5;
  --header-bg-dark: #2d3748;
  --text-light: #333333;
  --text-dark: #f8f8f8;
  --hover-bg-light: #e5e5e5;
  --hover-bg-dark: #4a5568;
  --transition-speed: 300ms;
  --bg-card: #e9eff6;
  --success: #1aab5f;
  --success-foreground: #fff0f0;
  --warning: #f7921c;
  --warning-foreground: #f8fbfd;
  --profit: #1aab5f;
  --loss: #e85a5a;
  --muted: #f4f8fb;
  --muted-foreground: #6e7784;

  --accent-foreground: #0f172a;
  --border: #e2e8f0;
  --card: #ffffff;
  --card-foreground: #090909;
  --chart-1: #2462ea;
  --chart-2: #d97704;
  --chart-3: #eab307;
  --chart-4: #7b39ed;
  --chart-5: #dc31b2;
  --loss: #ee4444;
  --muted: #f1f5f9;
  --muted-foreground: #64748b;
  --primary: #2462ea;
}

@custom-variant dark (&:where(.dark, .dark *));

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
} */
